@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Cloud Computing Project</h2>
   
    <img src="https://articles-bucket-pdf.s3-eu-west-1.amazonaws.com/Cloud+Project+diagram.jpeg"  alt="Diagram" style=" max-width: 70vw; max-height: 70vh;">
</div>
